bat/.config/bat/themes

dot_config/nvim/lazy-lock.json
nvim/.config/nvim/spell

tmux/.config/tmux/plugins
tmux/.config/tmux/resurrect
tmux/.config/tmux/continuum

zsh/.config/zsh/.zshrc.zwc

hypr/.config/hypr/hyprland.local.conf
.claude/
dot_config/zsh/dot_aliases.local.sh
bin/
!dot_local/bin/
!dot_local/bin/executable_herdr-sesh-workspace
