{
  "env": {
    "CLAUDE_CODE_EXPERIMENTAL_AGENT_TEAMS": "1"
  },
  "hooks": {
    "UserPromptSubmit": [],
    "Stop": [],
    "PostToolUse": [],
    "PostToolUseFailure": [],
    "PermissionRequest": []
  },
  "statusLine": {
    "type": "command",
    "command": "node $HOME/.claude/hud/omc-hud.mjs"
  },
  "enabledPlugins": {
    "frontend-design@claude-code-plugins": false,
    "code-simplifier@claude-plugins-official": true,
    "typescript-lsp@claude-plugins-official": true,
    "everything-claude-code@everything-claude-code": false,
    "pyright-lsp@claude-plugins-official": true,
    "oh-my-claudecode@omc": true
  },
  "extraKnownMarketplaces": {
    "omc": {
      "source": {
        "source": "git",
        "url": "https://github.com/Yeachan-Heo/oh-my-claudecode.git"
      }
    }
  },
  "voiceEnabled": true,
  "skipDangerousModePermissionPrompt": true
}
